* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    width: 100%;
    height: 100vh;
    
}
#back {
    width: 100%;
    height: 100vh;
    /* background-color: #f0f0f0; */
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
}
#workingarea {
    position: relative;
    margin: auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    /* border: 1px solid red; */
    
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}
#nav p {
    font-size: 26px;
    color: white;
}
#nleft , #nright {
    display: flex;
    align-items: center;
    gap: 50px;
}

#nav a{
    pointer-events: all;
    color: white;
    font-family: "gilroy";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
   

}
#hero {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0%;
transform: translate(0% , -50%);
    justify-content: space-between;
    width: 100%;
   
   
}
#heroleft {
    min-width: 50%;
   
}
#heroleft #elem {
    position: relative;
    height: 10vw;
    
    overflow: hidden;


}
#heroleft #elem h1:nth-child(1){
    top: 0;
}
#heroleft #elem h1 {
    position: absolute;
    top: 100%;
    left: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: 900;
    font-size: 7vw;
    
}
#heroleft button {
    pointer-events: all;
    padding: 11px 32px;
    margin-top: 2vw;
    font-size: 2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#heroright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 16%;
    color: #f0f0f0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
#heroright p {
    font-size: 11px;
}
#heroright #imagediv {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: aqua;
    background-image: url(https://images.unsplash.com/photo-1572615208281-3c9a9a9fb41c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}